* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("../img/pokeball-vetor.png");
    background-size: 150px;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, .9)
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.content h1 {
    display: inline-block;
    color: #FFF;
    margin: .25em .4em;
}

.pokeball {
    width: 50px;
    display: flex;

}

.pokeball img{
    width: 100%;
    height: 100%;
    margin-left: 0.5em;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}